.alert-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }
  .alert-error {
    background-color: #cb404e; /* Daha koyu bir arka plan rengi */
    border-color: #6c1c21; /* Daha koyu bir kenarlık rengi */
    color: #fff; /* Daha koyu bir metin rengi */
  }
  .alert-info {
    color: #059;
    background-color: #BEF;
  }
  #eventdetailpage {
    background-color: #BEF;
  }
  #yorumyap{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;

  }
  #yorumyap:hover {
    font-weight: bold;
  }
  .etkinlik-ad {
    display: inline-block;
    max-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .etkinlik-ad:hover {
    max-height: none;
  }