

.navbar .dropdown-menu a:hover {
    color: #616161 !important;
    
}

.darken-grey-text {
    color: #2E2E2E;
}
.nav-link.active {
    position: relative;
  }
  
  .nav-link.active::before {
    content: "...";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: #000;
  }
.navbar {
    background-color: #428cc9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999; /* sNavbar'ın diğer öğelerin üzerinde görünmesini sağlamak için gerekli bir z-index değeri */
      /* Diğer stil özelliklerini buraya ekleyebilirsiniz */
    }
}
.nav-item.active{
  font-weight: bold;
}
.nav-item {
  font-weight: bold;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.today {
    background-color: #ffcc00;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    vertical-align: middle;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@600&display=swap');

* {
    box-sizing: border-box
}

body {
    background-color: #d9ecf2;
    font-family: 'Poppins', sans-serif;
    color: #666
}

.h2 {
    color: #444;
    font-family: 'PT Sans', sans-serif
}

thead {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #666
}

img {
    width: 40px;
    height: 40px
}

.name {
    display: inline-block
}

.bg-blue {
    background-color: #EBF5FB;
    border-radius: 8px
}

.fa-check,
.fa-minus {
    color: blue
}

/* .bg-blue:hover {
        background-color: #3e64ff;
        color: #eee;
        cursor: pointer
    } */

/* .bg-blue:hover .fa-check,
    .bg-blue:hover .fa-minus {
        background-color: #3e64ff;
        color: #eee
    }
     */
.table thead th,
.table td {
    border: none
}

.table tbody td:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px
}

.table tbody td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px
}

#spacing-row {
    height: 10px
}

@media(max-width:575px) {
    .container {
        width: 125%;
        padding: 20px 10px
    }
}
/* 
#yeretkinlik:hover {
    transform: scale(1.2);
} */

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dangerzone {
    margin-left: auto;
}

#dangerzone .fa-cog:hover {
    color: red;
    /* İstediğiniz kırmızı rengi kullanın */
}

#dangerzone .dropdown-item:hover {
    background-color: rgb(20, 154, 233);
    /* İstediğiniz hover rengini kullanın */
    color: white;
    /* Yazı rengini beyaz olarak ayarlayabilirsiniz veya istediğiniz renk değerini kullanın */
}

#dangerzone .dropdown-item.danger:hover {
    background-color: red;
    /* İstediğiniz hover rengini kullanın */
    color: white;
    /* Yazı rengini beyaz olarak ayarlayabilirsiniz veya istediğiniz renk değerini kullanın */
}

.checkbox-and-input-container {
    display: flex;
    align-items: center;
}

.checkbox-and-input-container label {
    margin-right: 10px;
}

#kontenjan {
    float: left;
    margin-left: auto;
    /* İstediğiniz boşluk miktarını ayarlayın */
}

.space {
    margin-left: 10px;
    /* İstenilen boşluk değerini burada ayarlayabilirsiniz */
}

@keyframes text-size-animation {
  0% {
    font-size: 12,8px;
  }
  50% {
    font-size: 24px;
  }
  100% {
    font-size: 16px;
  }
}

#newcomment {
  color: green;
  animation: text-size-animation 1s;
}
#etkinlikcard{
    background-color: #11e7e3;
}

#etkinlikcard i{
    color: #000000;
}
#etkinlikcard a{
    color: #000000;
}
#navbar {
  background-color: #428cc9;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  margin-bottom: 50px;
}

.navbar.scrolled {
  background-color: #00fbff; /* İstediğiniz arka plan rengini buraya yazın */
}
.dropdown-menu.notification-menu {
  min-width: 300px; /* İstediğiniz genişliği burada ayarlayabilirsiniz */
}
#bildirim{
  font-weight: lighter;
}
.notification-menu.show {
  display: block;
}
.custom-hr {
  border-color: black; /* Çizgi rengini istediğiniz değere ayarlayabilirsiniz */
  border-width: 2px; /* Çizgi kalınlığını istediğiniz değere ayarlayabilirsiniz */
}
/* 
.card-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: transparent;
    color: #000;
    text-decoration: none;
    border: 2px solid ;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 10px;
    border-top: 2px solid rgb(74, 30, 30);
    border-bottom: 2px solid blue;
    border-left: 2px solid rgb(255, 0, 132);
    border-right: 2px solid rgb(255, 0, 170);
  } */
  

  .card-link:hover {
    
    background-color: #f1f1f1;
    border-right: none;

  }
.rating {
    color: gold; /* Yıldız rengi */
    font-size: 24px; /* Yıldız boyutu */
  }
  
  
.star {
    display: inline-block;
    width: 24px; /* Yıldız genişliği */
    height: 24px; /* Yıldız yüksekliği */
    background-image: url("static/empty-star.png");

    background-size: cover;
  }
  
  .star.filled {
    background-image: url("static/filled-star.png"); /* Dolu yıldız görüntüsü */
  }
  .btn {
    cursor: pointer;
    outline: 0;
    color: #AAA;
  }
  
  .btn:focus {
    outline: none;
  }
  
  #like-btn  {
    color: #AAA;
  }
  
  #like-btn.liked{
    color: green;
  }
  #dislike-btn  {
    color: #AAA;
  }
  
  #dislike-btn.disliked {
    color: red;
  }
 /* Mobil Uyumluluk Stil Kuralları */
 @media only screen and (max-width: 600px) {
  .table.user-list th:not(:last-child,:first-child),
  .table.user-list td:not(:last-child,:first-child) {
    display: none;
  }

  .table.user-list td:first-child {
    width: 100%;
  }
  .table.user-list td:last-child {
    width: 100%;
  }

  .table.user-list th:first-child {
    display: table-cell;
  }
  .table.user-list th:last-child {
    display: table-cell;
}
}

/* @media screen and (max-width: 768px) {
  #comment-area {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.comment {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}   
@media screen and (max-width: 768px) {
  .card-body {
    overflow: hidden;
    position: relative;
  }

  .card-body p {
    max-height: 20px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .card-body .collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 4px;
    transition: max-height 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
  }

  .card-body .collapse.show {
    max-height: 100%;
  }

  .card-body .collapse p {
    margin-bottom: 10px;
  }
} */
.ckeditor-container .ck-editor__editable {
  width: 2%;
  max-width: 30px; /* İstenilen genişlik değeri */
  height: 20px; /* İstenilen yükseklik değeri */
}

#engel_btn{
  float: right;
  margin-top: 0px;
}
#yöneticibtn {
  float: right;
  background-color:crimson;
  border-color: crimson;
}
#yöneticibtn:hover{
  background-color:rgb(197, 101, 120);
  border-color: rgb(197, 101, 120);

}