#pHeart{
    color:red;

}
#nHeart{
    color: black;
}
#profil_oy {
    display: flex;
    justify-content: flex-end;
  }
#profil_oy form {
    margin-right: 10px;
  }
#engelle{
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}
#engelle form {
  margin-right: 10px;
  
}
  .btn {
    position: relative;
  }
  
  .tooltip-text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    transition: opacity 0.2s;
  }
  
  .btn:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }