#pHeart{
    color:red;

}
#nHeart{
    color: black;
}
#profil_oy {
    display: flex;
    justify-content: flex-end;
  }
#profil_oy form {
    margin-right: 10px;
  }
#engelle{
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}
#engelle form {
  margin-right: 10px;
  
}
.btn {
    position: relative;
  }
  #engelle-butonu {
    font-size: inherit; /* Kalıtılan yazı boyutunu kullan */
    padding: inherit; /* Kalıtılan kenar dolgusunu kullan */
    display: inline-block; /* Satır içi öğe olarak görüntüle */
    line-height: 40px; /* Buton yüksekliği ile aynı çizgi yüksekliği */
    text-align: center; /* Metni ortala */
    width: auto; /* Otomatik genişlik ayarı */
    height: auto; /* Otomatik yükseklik ayarı */
  }
  .tooltip-text {
    visibility: hidden;
    opacity: 0;
    position: relative;
    z-index: 1; /* Ya da daha büyük bir değer belirleyin */
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    transition: opacity 0.2s;
    margin-left: 4px;
  }
  
  .btn:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  .star {
    display: inline-block;
    width: 24px; /* Yıldız genişliği */
    height: 24px; /* Yıldız yüksekliği */
    background-image: url("static/empty-star.png");

    background-size: cover;
  }
  
  .star.filled {
    background-image: url("static/filled-star.png"); /* Dolu yıldız görüntüsü */
  }
  .rating {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn {
    width: 40px; /* Buton genişliğini istediğiniz değere ayarlayın */
    height: 40px; /* Buton yüksekliğini istediğiniz değere ayarlayın */
  }