{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>

    <div class="login-container">
        <img src="{% static 'lock.png' %}" alt="Lock Icon" class="lock-icon">
        <form method="post">
            {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
          </div>
        {% endfor %}
{% endif %}
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password">
                <a href="{% url 'register' %}">
                    <small>Henüz Kayıt Olmadınız mı ?</small>
                  </a>
            </div>
            
            <button type="submit" class="btn" id="loginbtn">Login</button>
            
        </form>
    </div>

  {% endblock content %}