{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-cyan">
    <a class="navbar-brand" href="{%url 'home' %}">
        <div class="logo-container">
          <img src="{% static 'icon.png' %}" alt="Logo" class="logo-img">
        </div>
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href = "{% url 'home' %}" class="nav-link">Ne Yapıyoruz ?</a>

              </li>
              <li class="nav-item active">
                {% comment %} <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' year=current_year month=current_month|lower %}">Home <span class="sr-only">(current)</span></a> {% endcomment %}
              </li>
              <li class="nav-item">
                {% comment %} <a class="nav-link" href="{% url 'home' year=next_year month=next_month %}">{{next_month|title}} <span class="sr-only">(current)</span></a> {% endcomment %}
              </li>
        </li>
      </ul>
      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          {% comment %} <a class="nav-link " href="{% url 'eventlist' %}">Etkinlikler</a> {% endcomment %}
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link {% if request.path_info == '/mekanekle/' %}active{% endif %}" href="{% url 'mekanekle' %}">Mekan Başvuru</a>


        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{request.user.username}}
          </a>
          
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'yer_listesi' %}">
                <i class="fas fa-map-marker-alt"></i> Yer Listesi
            </a>
            <a class="dropdown-item" href="{% url 'etkinlik_ekle' %}">
                <i class="fas fa-calendar-plus"></i> Etkinlik Ekle
            </a>
            <a class="dropdown-item" href="{% url 'mekanlar' %}">
              <i class="fa-solid fa-house-lock"></i> Mekanlar
          </a>
          <a class="dropdown-item" href="{% url 'etkinliklerim' %}">
            <i class="fa-solid fa-hat-wizard"></i> Etkinliklerim
        </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'my_profile' %}">
                <i class="fas fa-user"></i> Profilim
            </a>
            <a class="dropdown-item" href="{% url 'update_profile' %}">
                <i class="fas fa-user-edit"></i> Profili Güncelle
            </a>
            <a class="dropdown-item" href="{% url 'logout' %}">
                <i class="fas fa-sign-out-alt"></i> Çıkış Yap
            </a>
            
        </div>
        
        </li>
          <!-- ... diğer navbar öğeleri ... -->
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle"onclick="updateNotificationCount()"  href"$" id="notificationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bell"></i>
              <span class="badge badge-danger" id="notificationCount" data-bildirim-sayisi="{{ request.user.profile.bildirim_sayisi }}">{{ request.user.profile.bildirim_sayisi }}</span>
            </a>
            
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            
            
            <div class="dropdown-menu dropdown-menu-right notification-menu" aria-labelledby="notificationDropdown">
              {% if bildirimler.exists %}
                {% for bildirim in bildirimler|slice:":2" %}
                  <p class="text-center" id="bildirim">{{ bildirim.bildirim }}</p>
                  <hr class="custom-hr">
                {% endfor %}
            
                {% if bildirimler.count > 2 %}
                  <a class="dropdown-item text-center" href="#" data-toggle="dropdown" data-target=".notification-menu">Devamını Gör</a>
                  <div class="dropdown">
                    <div id="notificationDropdownMenu" class="dropdown-menu dropdown-menu-right notification-menu1" aria-labelledby="notificationDropdown">
                      {% for bildirim in bildirimler|slice:"2:" %}
                        <p class="text-center" id="bildirim">{{ bildirim.bildirim }}</p>
                        <hr class="custom-hr">
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
            
              {% else %}
                <p class="text-center">Henüz bildirim yok</p>
              {% endif %}
            </div>
            
            
           
            
            
            
          </li>
        </ul>
        
        
        {% else %}
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Kullanıcı İşlemleri
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{%url 'login' %}"><i class="fas fa-sign-in-alt"></i> Giriş Yap</a>
            <a class="dropdown-item" href="{% url 'register' %}"><i class="fas fa-user-plus"></i> Kayıt Ol</a>
        </li>
        {% endif %}
        <form class="form-inline my-2 my-lg-0" method="POST" action="{%url 'arama_sonuclari' %}">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="text" placeholder="Search" name="searched">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>

      </ul>
    </div>
  </nav>