{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel"><strong>Hata</strong></h5>
                    
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.level_tag }}">
                            
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            
                        </div>
                        {% endfor %}
                    {% endif %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        {% if messages %}
            $(document).ready(function() {
                $('#errorModal').modal('show');
            });
        {% endif %}
    </script>
<div class="row">
    <div class="col-md-3">
        <h1 class="display-1">Etkinlik İçin Yerler</h1>
    </div>
    <div class="col-md-9">
        <br/>
        
            <div class="card-group">
                {% for yer in mekan %}
                <div class="col-md-4 mb-3">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ yer.adi }}</h5>
                    <p class="card-text">{{ yer.adres }}</p>
                    <p class="card-text">{{ yer.telefon }}</p>
                    <p class="card-text">{{yer.webadresi }}</p>
                    <p class="card-text">{{ yer.email }}</p>
                    <p class="card-text"><small class="text-muted">{{ m.onay_tarihi }}</small></p>
                    <a href="{% url 'yer_detay' yer.pk %}" class="btn btn-info">Yeri İncele</a>
                </div>
            </div>
        </div>
        {% empty %}
        <center>
        <div class="col-md-6">
        <p class="display-4">Henüz mekan eklenmemiş.</p>
        </div>
    </center>
        {% endfor %}

    </div>  

{% endblock %}
