{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/update_profile.css' %}">
<div class="row">
  <div class="content col-lg-6"> <!-- Start Content -->
    <div class="card"><!-- Start Card -->
      <div class="row g-0"><!-- Start row g-0 -->
        <div class="col-md-4 sm-8"><!-- Start col-md-4 -->
          <div class="d-flex align-items-center justify-content-center" style="height: 100%;"><!-- Start d-flex -->
            {% if user.profile.profile_img and user.profile.profile_img.url %}
              <img src="{{ user.profile.profile_img.url }}" alt="User Image" style="width: 150px; height: 150px;" class="rounded-start">
            {% else %}
              
            {% endif %}
          </div><!-- End d-flex -->
        </div><!-- End col-md-4 -->
        <div class="col-md-8 sm-8"><!-- Start col-md-8 -->
          <div class="card-body"><!-- Start card-body -->
            <h5 class="card-title">{{ user.profile.ad|title }} {{ user.profile.soyad|title }}</h5>
            <p class="card-text">@<small>{{user.username}}</small></p>
            <ul class="list-group list-group-flush">
              {% if user.profile.telefon != None %}
                <li class="list-group-item"><i class="mdi mdi-phone font-size-15 align-middle pe-2 text-primary"></i> {{ user.profile.telefon }}</li>
              {% else %}
                <li class="list-group-item"><i class="mdi mdi-phone font-size-15 align-middle pe-2 text-primary"></i> Telefon Yok</li>
              {% endif %}
              <li class="list-group-item"><i class="mdi mdi-email font-size-15 align-middle pe-2 text-primary"></i> {{ user.profile.email }}</li>
              <li class="list-group-item"><i class="mdi mdi-account-plus font-size-15 align-middle pe-2 text-primary"></i><strong>Katıldığınız Etkinlikler</strong> <span class="badge badge-info">{{ katildigi_etkinlikler.count }}</span></li>
              <li class="list-group-item"><i class="mdi mdi-account-edit font-size-15 align-middle pe-2 text-primary"></i><strong>Oluşturduğunuz Etkinlikler</strong> <span class="badge badge-info">{{ olusturdugu_etkinlikler.count }}</span></li>
            </ul>
            <a href="{% url 'update_profile' %}" class="btn btn-primary">Güncelle</a>
            <button type="button" class="btn btn-primary">Contact</button>
          </div><!-- End card-body -->
        </div><!-- End col-md-8 -->
      </div><!-- End row g-0 -->
    </div><!-- End Card -->
    
    <h1 class="text-center">Son Etkinliklerim</h1>

    <div class="row justify-content-center">
      {% for etkinlik in son_etkinliklerim %}
      <div class="col-lg-6 col-md-6 col-sm-12 mt-2 d-flex">
        <div class="card" style="width: 18rem; height: 100%;">
          <div class="card-body">
            <h5 class="card-title">{{ etkinlik.ad }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ etkinlik.saat }}</h6>
            <p class="card-text">{{ etkinlik.açiklama|safe|truncatechars_html:20 }}</p>
            <a href="{% url 'eventdetail' etkinlik.slug %}" class="card-link"><i class="fa-solid fa-feather"></i> Etkinlik Detay</a>
            <a href="{% url 'yer_detay' etkinlik.mekan.pk %}" class="card-link"><i class="fa-solid fa-shop"></i> Yer Detay</a>
          </div>
        </div>
        <br>
      </div>
      {% endfor %}
    </div>
    
  </div><!-- End Content -->
  
  <div class="col-lg-3 col-sm-8">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-center">
        <button type="button" class="btn btn-info">
          Takip Ettiklerim <span class="badge badge-light">{{ takip_listesi.count }}</span>
        </button>
      </li>
      
      {% for takipci in sayfa %}
      <li class="list-group-item">
        <div class="d-flex align-items-center justify-content-between">
          <a class="ml-2" href="{% url 'show_profile' takipci.username %}">{{ takipci.username }}</a>
          <form method="POST" action="{% url 'takip_et' takipci.pk %}">
            {% csrf_token %}
            <button type="submit" title="Çıkar" id="engel_btn" class="btn btn-link">
              <i class="fa-solid fa-user-minus text-danger mr-4"></i>
            </button>
          </form>
        </div>
      </li>
      {% empty %}
        <li class="list-group-item">Takip ettiğin kimse yok.</li>
      {% endfor %}
    </ul>
    <div class="pagination">
      {% if sayfa.has_previous %}
        <a href="?sayfa={{ sayfa.previous_page_number }}"><i class="fa-solid fa-chevron-left"></i></a>
      {% endif %}
      
      {% if sayfa.has_next %}
        <a href="?sayfa={{ sayfa.next_page_number }}"><i class="fa-solid fa-chevron-right"></i></a>
      {% endif %}
    </div>
  </div>
  <div class="col-lg-3 col-sm-8">
    
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-center">
        <button type="button" class="btn btn-info">
          Takipçi Listesi <span class="badge badge-light">{{ takipçi_listesi.count }}</span>
        </button>
      </li>
      
      {% for takipci in takipçi_listesi %}
      <li class="list-group-item ">
        <div class="d-flex align-items-center justify-content-between">
          <a href="{% url 'show_profile' takipci.username %}" class ="ml-4">{{ takipci.username }}</a>
          <form method="POST" action="{% url 'takipciyi_cikar' takipci.pk %}">
            {% csrf_token %}
            <button type="submit" id="engel_btn" title="Kaldır" class="btn btn-link">
              <i class="fa-solid fa-user-minus text-danger mr-4"></i>
            </button>
          </form>
        </div>
      </li>
          
     

          

      {% empty %}
        <li class="list-group-item">Takipçi Bulunmuyor</li>
      {% endfor %}
    </ul>
  </div>
</div>



{% endblock %}
