{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/oy_durumu.css' %}">
{% if engellendin %}
<div class="content"> <!-- Start Content -->
  <div class="card"><!-- Start Card -->
    <div class="row g-0"><!-- Start row g-0 -->
      <div class="col-md-4"><!-- Start col-md-4 -->
        <div class="d-flex align-items-center justify-content-center" style="height: 100%;"><!-- Start d-flex -->
          
          {% if user.profile.profile_img %}
          <img src="{{ user.profile.profile_img.url }}" alt="User Image" style="width: 150px; height: 150px;" class="rounded-start">
          {% endif %}
        </div><!-- End d-flex -->
      </div><!-- End col-md-4 -->
      <div class="col-md-8"><!-- Start col-md-8 -->
        <div class="card-body"><!-- Start card-body -->
          <p class="card-text">
            <strong id="engelle-butonu" class="btn btn-danger outline">Kullanıcı Sizi Engelledi</strong>
          </p>
          <p class="card-text">@<small>{{user.username}}</small></p>
          </div><!-- End d-grid-gap -->
        </div><!-- End card-body -->
      </div><!-- End col-md-8 -->
    </div><!-- End row g-0 -->
  </div><!-- End Card -->
</div><!-- End Content -->
<br/>
{% else %}
<div class="content"> <!-- Start Content -->
  <div class="card"><!-- Start Card -->
    <div class="row g-0"><!-- Start row g-0 -->
      <div class="col-md-4"><!-- Start col-md-4 -->
        <div class="rating">
          <span class="star {% if rating >= 1 %}filled{% endif %}"></span>
          <span class="star {% if rating >= 2 %}filled{% endif %}"></span>
          <span class="star {% if rating >= 3 %}filled{% endif %}"></span>
          <span class="star {% if rating >= 4 %}filled{% endif %}"></span>
          <span class="star {% if rating >= 5 %}filled{% endif %}"></span>
        </div>
        <div class="d-flex align-items-center justify-content-center" style="height: 100%;"><!-- Start d-flex -->
          
          {% if user.profile.profile_img %}
          <img src="{{ user.profile.profile_img.url }}" alt="User Image" style="width: 150px; height: 150px;" class="rounded-start">
          {% endif %}
          
        </div><!-- End d-flex -->
      </div><!-- End col-md-4 -->
      <div class="col-md-8"><!-- Start col-md-8 -->
        <div class="card-body"><!-- Start card-body -->
          <div id="profil_oy">
            <form method="POST" action="{% url 'pozitif_oy' user.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-success" title="Olumlu Oy">
                <i class="fa-solid fa-heart" {% if oy_durumu_pozitif %}id="pHeart" {% endif %}></i>
                <span class="tooltip-text">Olumlu Oy</span>
              </button>
            </form>
            {{p_oy}}
            <form method="POST" action="{% url 'negatif_oy' user.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger" title="Olumsuz Oy">
                <i class="fa-solid fa-heart" {% if oy_durumu_negatif %}id="nHeart" {% endif %}></i>
                <span class="tooltip-text">Olumsuz Oy</span>
              </button>
            </form>
          </div>
          <div id="engelle">
            <form method="POST" action="{% url 'engelle' user.pk %}">
              {% csrf_token %}
              <button type="submit" id="block" class="btn btn-{% if engelli %}success{% else %}danger{% endif %}">
                <i class="fa-solid fa-user-lock fa-sm"></i>
                <span class="tooltip-text">{% if engelli %} Engeli Kaldır {% else %} Engelle {% endif %}</span>
              </button>
            </form>
            {% if not engelli %}
            <form method="POST" action="{% url 'takip_et' user.pk %}">
              {% csrf_token %}
              <button type="submit" id="follow" class="btn btn-success">
                <i class="fa-solid fa-user-{% if takipte %}minus{% else %}plus{% endif %} fa-sm"></i>
                <span class="tooltip-text">{% if takipte %} Takibi Bırak {% else %} Takip Et {% endif %}</span>
              </button>
            </form>
            {% endif %}
          </div>
          
          <h5 class="card-title">{{ user.profile.ad|title }} {{ user.profile.soyad|title }}</h5> 
          {% if engellendin %}
          Bu kullanıcı sizi engelledi
          {% endif %}
          <div>
           
          
          <p class="card-text">@<small>{{user.username}}</small></p>
          <ul class="list-group list-group-flush">
            {% if user.profile.telefon != None %}
            <li class="list-group-item"><i class="mdi mdi-phone font-size-15 align-middle pe-2 text-primary"></i> {{ user.profile.telefon }}</li>
            {% else %}
            <li class="list-group-item"><i class="mdi mdi-phone font-size-15 align-middle pe-2 text-primary"></i> Telefon Yok</li>
            {% endif %}
            <li class="list-group-item"><i class="mdi mdi-email font-size-15 align-middle pe-2 text-primary"></i> {{ user.profile.email }}</li>
            <li class="list-group-item"><i class="mdi mdi-account-plus font-size-15 align-middle pe-2 text-primary"> </i><strong>Katıldığı Etkinlikler</strong> <span class="badge badge-info">{{ katildigi_etkinlikler.count }}</span></li>
            <li class="list-group-item"><i class="mdi mdi-account-edit font-size-15 align-middle pe-2 text-primary"> </i><strong>Oluşturduğu Etkinlikler</strong> <span class="badge badge-info">{{ olusturdugu_etkinlikler.count }}</span></li>
          </ul>
          <div class="d-grid gap-2 mt-4"><!-- Start d-grid-gap -->
          </div><!-- End d-grid-gap -->
        </div><!-- End card-body -->
      </div><!-- End col-md-8 -->
    </div><!-- End row g-0 -->
  </div><!-- End Card -->
</div><!-- End Content -->
<br/>
{{user.profile.pozitif_oy.count}}
<h1>
  <center> 
    Son Etkinlikleri
  </center>
</h1>
<div class="row">
  <br/>
  <div class="row justify-content-center">
    {% for etkinlik in son_etkinliklerim %}
    <div class="col-lg-6">
      <div class="card" style="width: 18rem;">
        <div class="card-body" style="height: 18rem;">
          <h5 class="card-title">{{ etkinlik.ad }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ etkinlik.saat }}</h6>
          <p class="card-text">{{ etkinlik.açiklama|safe|truncatechars_html:20 }}</p>
          <a href="{% url 'eventdetail' etkinlik.slug %}" class="card-link"><i class="fa-solid fa-feather"></i> Etkinlik Detay</a>
          <a href="{% url 'yer_detay' etkinlik.mekan.pk %}" class="card-link"><i class="fa-solid fa-shop"></i> Yer Detay</a>
        </div>
      </div>
      <br>
    </div>
    {% endfor %}
  </div>
</div>
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Bilgi</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.level_tag }}">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>

<script>
  {% if messages %}
    $(document).ready(function() {
      $('#errorModal').modal('show');
    });
  {% endif %}
</script>
{% endif %}
{% endblock %}
