{% extends 'base.html' %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-block col-md-4 mb-3">Başvuru Oluştur</button>
</form>

{% if form.errors %}
    <div class="alert alert-danger mt-4">
        <ul>
            {% for field in form %}
                {% if field.errors %}
                    <li>{{ field.label }}: {{ field.errors|join:", " }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock content %}
