{% extends 'base.html' %}
{% load static %}
{% block content %}
<br/>
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <div class="row">
        <div class="col-12">
            
            <div class="card" id="yeretkinlik">
                <h5 class="card-header">{{ mekan.adi }}</h5>
                <div class="card-body">
                    
                    <ul class="list-unstyled">
                        <li><strong>Telefon:</strong> {{ mekan.telefon_numarasi }}</li>
                        <li><strong>Adres:</strong> {{ mekan.adres }}</li>
                        <li><strong>Email:</strong> {{ mekan.email }}</li>
                        <li><strong>Şehir:</strong> {{ mekan.sehir }}</li>
                        <li><strong>İlçe:</strong> {{ mekan.ilce }}</li>
                        <li><strong>Oluşturan:</strong> {{ mekan.olusturan }}</li>
                        <li><strong>Onaylı:</strong> {{ mekan.onayli }}</li>
                        <li><strong>Onay Tarihi:</strong> {{ mekan.onay_tarihi }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<br/>
        <div class="container">
            <div class="row justify-content-center">
                {% for etkinlik in etkinlikler %}
                    {% if not etkinlik.silindi %}
                        <div class="col-sm-4 mb-4">
                            <div class="card mb-4 ml-auto mr-auto" id="yeretkinlik" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ etkinlik.ad }}</h5>
                                    <p class="card-text">{{ etkinlik.gün|date:"d F Y" }}</p>
                                    <p class="card-text">{{ etkinlik.saat }}</p>

                                    <p class="card-text">{{etkinlik.açiklama|safe}}</p>
                                    <a href="{% url 'eventdetail' etkinlik.slug %}" class="card-link">Etkinlik Detay</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
